.project
.profile
.npmignore
.bashrc
.bash_history
.settings
.settings.xml
.Xauthority
.DS_Store
.nide
.forever
.cache
.c9revisions
.ssh
.idea/
public/javascripts/dist/
public/javascripts/dist/*
node_modules/
temp/
log/
npm-debug.log
