<div id="showcase">
  <div class="row">
    <h1 class="logo"><%= t('global.title') %> — <%= t('global.description') %></h1>
    <img src="/images/front/example.png">
  </div>
</div>

<div id="request-invite">
  <div class="row">
    <h5 class="din med"><%= t('front.private-beta') %></h4>
  </div>
</div>

<div id="content">
  <div class="top">
    <h3 class="wisdom">"<%= t('front.feature') %>"</h4>
    <p class="din light"><%= t('front.feature-text') %></p>
  </div>
 
  <div id="features"></div>
  <hr>
  <ul id="features">
    <li class="text-right">
      <div class="group">
        <img src="/images/front/feature-layout.png">

        <div class="text">
          <h4 class="din med"><%= t('front.feature1') %></h4>
          <p><%= t('front.feature1-text') %></p>
        </div>
      </div>

      <hr>
    </li>
    <li class="text-left">
      <div class="group">
        <img src="/images/front/feature-project.png">

        <div class="text">
          <h4 class="din med"><%= t('front.feature2') %></h4>
          <p><%= t('front.feature2-text') %></p>
        </div>
      </div>

      <hr>
    </li>

    <li class="text-right">
      <div class="group">
        <img src="/images/front/feature-share.png">

        <div class="text">
          <h4 class="din med"><%= t('front.feature3') %></h4>
          <p><%= t('front.feature3-text') %></p>
        </div>
      </div>

      <hr>
    </li>

    <li class="text-left">
      <div class="group">
        <img src="/images/front/feature-detail.png">

        <div class="text">
          <h4 class="din med"><%= t('front.feature4') %></h4>
          <p><%= t('front.feature4-text') %></p>
        </div>
      </div>

      <hr>
    </li>

    <li class="text-right">
      <div class="group">
        <img src="/images/front/feature-admin.png">

        <div class="text">
          <h4 class="din med"><%= t('front.feature5') %></h4>
          <p><%= t('front.feature5-text') %></p>
        </div>
      </div>

      <hr>
    </li>

    <li class="text-left">
      <div class="group">

        <div class="text" style="width: 100%; text-align: left;">
          <h4 class="din med"><%= t('front.enterprise') %></h4>
          <p>
            <%= t('front.enterprise-text') %>            
            <ul class="enterprise">
              <li><%= t('front.enterprise-key1') %></li>
              <li><%= t('front.enterprise-key2') %></li>
              <li><%= t('front.enterprise-key3') %></li>
              <li><%= t('front.enterprise-key4') %></li>
              <li><%= t('front.enterprise-key5') %></li>
              <li><%= t('front.enterprise-key6') %></li>
            </ul>
          </p>
        </div>
      </div>
      <div id="pricing"></div>
      <hr>
    </li>
  </ul>

  <!--div>
    <h5 class="wisdom">Super Simple Pricing</h5>

    <div class="group">
      <section id="launched">
        <div class="ribbon">Free — In Beta</div>

        <div class="price din med">
          <span class="dollar-sign">$</span>0<span class="mo">/m</span>
        </div>

        <ul class="din">
          <li><strong>Unlimited</strong> Users</li>
          <li><strong>Unlimited</strong> Projects</li>
          <li><strong>Top-Notch</strong> Support</li>
        </ul>
      </section>

      <section id="in-beta" class="group">
        <h2 class="din med">Velox is currently in beta, meaning you can try it out for free!</h2>
        <p class="din med">Plus, when we launch you’ll get a sweet deal.</p>
        <button class="yellow inset-text">Request An Invite</button>
      </section>
    </div>

    <hr>
  </div-->
 
   <div id="support">
     <h5 class="wisdom"><%= t('front.questions') %></h5>
     <p class="din light"><%= t('front.feedback') %></p>
     <a class="blue inset-text button" href="mailto:support@sparkandassociates.com"><%= t('front.touch') %></a>
   </div>
</div>

<!-- div id="request-invite-modal">
  <div class="invite-form">
    <h3 class="wisdom"><%= t('front.invite') %></h3>

    <h4 class="din light"><%= t('front.invite-submit') %></h4>

    <form>
      <div class="field">
        <label><%= t('user.email') %>:</label>
        <input required type="email">
      </div>
      <hr>
      <input type="submit" class="teal button inset-text" value="<%= t('front.invite') %>">
      <a href="#" class="cancel button"><%= t('actions.cancel') %></a>
    </form>
  </div>

  <div class="invite-success">
    <h3 class="wisdom"><%= t('front.invite-success') %></h3>
    <h4 class="din light"><%= t('front.invite-success-text') %></h4>
  </div>

  <div class="invite-error">
    <h3 class="wisdom"><%= t('front.invite-error') %></h3>
    <h4 class="din light"><%= t('front.invite-error-text') %></h4>
  </div>

  <div class="invite-taken">
    <h3 class="wisdom"><%= t('front.invite-taken') %></h3>
    <h4 class="din light"><%= t('front.invite-taken-text') %></h4>
  </div>
</div -->