<div id="content">
  <header>
  	<h1 class="wisdom"><%= t('front.privacy') %></h1>
  	<h2 class="din light">최종 수정 날짜: 2013년 2월 7일</h2>
  	<hr>
  </header>
  
  <div id="privacy">
    <p class="nopad">
      SPARK & ASSOCIATES는 개인정보 보호가 중요하다는 것을 인식하고 있습니다. 이 정책은 SPARK & ASSOCIATES Inc.가 제공하는 모든 상품, 서비스 및
      웹사이트(통칭하여, SPARK & ASSOCIATES의 “서비스”라 함)에 적용됩니다. 또한, SPARK & ASSOCIATES의 개인정보 보호에 대하여 좀 더 자세한 정보가
      필요한 경우에는 개별 서비스 마다 개인정보를 처리하는 방법을 설명한 별도의 개인정보 보호고지를 게시하며, 이런 별도의 개인정보 보호고지는 서비스 페이지의
      하단에 "개인정보 보호정책" 링크를 사용하여 열람하실 수 있습니다.
    </p>

    <h3>1. SPARK & ASSOCIATES가 수집하는 정보 및 정보 이용 방법</h3>
    <h4>사용자가 제공하는 정보</h4>
    <p>
      등록이 필요한 기타 SPARK & ASSOCIATES의 서비스 또는 프로모션에 가입하는 경우, SPARK & ASSOCIATES는 개인정보(사용자의 성명, 이메일 주소 및
      계정 비밀번호)를 요청합니다. 일부 서비스의 경우, 신용카드 또는 기타 지급 계정 정보를 요구하기도 하는데, 그러한 정보는 보안된 서버 상에 비밀번호화된
      형태로 보관됩니다. 더 나은 서비스를 제공하고 그 질을 향상시키기 위해 사용자가 자신의 계정에 제출하는 정보를 다른 SPARK & ASSOCIATES의 서비스나
      제3자로부터 얻은 정보와 결합할 수 있습니다. 일부 서비스의 경우, 사용자에게 이러한 정보의 결합을 거부할 수 있는 기회를 제공합니다
    </p>
    <h4>쿠키</h4>
    <p>
      사용자가 SPARK & ASSOCIATES의 서비스를 방문하면, 1개 이상의 쿠키(일련의 문자들로 구성된 작은 파일)가 사용자 컴퓨터에 전송되어, 사용자의 브라우저를
      식별하게 됩니다. SPARK & ASSOCIATES는 사용자의 환경설정을 저장하고 검색 방법과 같은 사용자 성향을 파악함으로써 서비스의 질을 향상시키기 위해 쿠키를
      이용합니다. 대부분의 브라우저는 쿠키를 받아들이도록 기본설정되어 있으나, 쿠키를 거부하거나 쿠키가 전송되었음을 표시하도록 브라우저를 다시 설정할 수 있습니다.
      다만, 쿠키를 비활성화할 경우, 일부 SPARK & ASSOCIATES의 서비스가 제대로 작동하지 않을 수 있습니다.
    </p>
    <h4>로그 정보</h4>
    <p>
      사용자가 SPARK & ASSOCIATES의 서비스를 이용할 경우, SPARK & ASSOCIATES는 사용자가 개별 웹사이트를 방문할 때마다 사용자의 브라우저가 제공하는
      정보를 자동으로 수집합니다. 이러한 서버 로그 에는 사용자의 웹 요청, 인터넷 프로토콜 주소, 브라우저 종류, 브라우저 언어, 사용자의 요청 일시 및 사용자의
      브라우저를 식별할 수 있는 1개 이상의 쿠키 등이 포함됩니다.
    </p>
    <h4>사용자와의 통신 내용</h4>
    <p>
      사용자가 SPARK & ASSOCIATES에 이메일이나 다른 통신 수단을 통하여 발신할 경우, 사용자의 문의를 처리하며 요청에 응답하고 서비스를 향상시키기 위해
      이러한 통신 내용을 보유할 수 있습니다.
    </p>
    
    <h3>2. 개인정보에 대한 선택권</h3>
    <p>
      사용자가 등록이 필요한 개별 서비스를 위해 가입하는 경우, SPARK & ASSOCIATES는 사용자에게 개인정보를 제공하도록 요청합니다. SPARK & ASSOCIATES가
      이 정보를 수집 목적 외의 방법으로 이용하는 경우, 이러한 이용 전에 사용자의 동의를 구할 것입니다.
    </p>
    <p>
      SPARK & ASSOCIATES가 이 정책 및/또는 개별 서비스 고지에 설명한 것 외의 목적으로 개인정보를 이용하고자 제안하는 경우, 이러한 기타 목적으로 개인정보를
      이용하는 것을 거절하는 효과적인 방법을 사용자에게 제공할 것입니다. SPARK & ASSOCIATES는 사용자의 사전 동의가 없는 한, 이 정책 및/또는 개별 서비스
      고지에서 설명한 것 외의 목적으로 중요 정보를 수집하거나 이용하지 않을 것입니다.
    </p>
    <p>
      사용자는 SPARK & ASSOCIATES의 서비스에 개인정보를 제공하지 않을 수 있으나, 이러한 경우에 SPARK & ASSOCIATES는 사용자에게 서비스를 제공할 수
      없을 수 있습니다.
    </p>
    
    <h3>3. 정보 보안</h3>
    <p>
      SPARK & ASSOCIATES는 데이터를 무단으로 열람, 변경, 공개 또는 훼손하지 않도록 보호하기 위하여 적절한 보안 대책을 마련합니다. 이런 보안 대책으로서는
      SPARK & ASSOCIATES의 데이터 수집, 저장 및 처리 과정 및 보안 대책에 대한 내부 검토와 SPARK & ASSOCIATES가 개인 데이터를 저장하는 시스템에 대한
      무단 침입에 대비한 물리적인 보안 대책이 이에 포함됩니다.
    </p>
    <p>
      SPARK & ASSOCIATES는 서비스 운영, 개발 또는 향상을 위해 개인정보를 인지하고 있어야 하는 SPARK & ASSOCIATES 직원, 계약자 및 대리인만이 해당
      정보를 열람할 수 있게 합니다. 이러한 개인들은 기밀유지 의무가 있으며, 이러한 의무의 불이행 시 면직 및 형사 기소를 포함하는 처벌을 받을 수 있습니다.
    </p>
    
    <h3>4. 데이터 무결성</h3>
    <p>
      개인정보는 그 수집 목적만을 위하여 이 정책이나 해당 서비스 개인정보 보호고지에 따라서 처리됩니다. SPARK & ASSOCIATES는 서비스를 제공하거나 향상시키는데
      필요한 개인정보만을 수집, 저장 및 처리하고 있음을 보장하기 위해 데이터 수집, 저장 및 처리 과정을 검토합니다. SPARK & ASSOCIATES는 자신이 처리하는
      개인정보가 정확하며 완전하고 최신의 것임을 보장하기 위해 적절한 조치를 취하지만, 필요가 있을 때 마다 최신의, 정확한 개인정보를 제공하는 일은 사용자에 의존합니다.
    </p>
    
    <h3>5. 개인정보 보호정책의 변경</h3>
    <p>
      이 개인정보보호정책은 수시로 변경될 수 있음을 유념하시기 바랍니다. SPARK & ASSOCIATES는 사용자의 명시적인 동의 없이 이 정책에 따른 사용자의 권리를
      축소하지 않을 것이며, 대부분의 변경이 경미하리라고 예상합니다. 변경 사항의 경중을 불문하고, 정책 변경사항은 현재 페이지에 게시하며, 중대한 변경일 경우,
      별도의 고지(개별 서비스에 대해서는, 정책 변경사항의 이메일 고지를 포함)이 있을 것입니다. 이 정책 각 버전의 변경 일자는 페이지 상단에 기재할 것입니다.
    </p>
    <p>      
      이 정책에 대한 추가 의문 사항이나 관련 사항은 언제라도 <a href="mailto:privacy@sparkandassociates.com">문의</a>하여 주시기 바랍니다.
    </p>
  </div>
</div>