<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title>Velox Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/administration.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Velox Admin</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a data-toggle="modal" href="#notif"><i class="icon-white icon-info-sign"></i> Notification <span class="badge badge-warning">4</span></a></li>
            </ul>
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <form class="navbar-search pull-left" action="">
                <input type="text" class="search-query span2" placeholder="Search" required>
              </form>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-white icon-cog"></i> Setting <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Preference</a></li>
                  <li><a href="#">Delete Cookies</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
              <li class="divider-vertical"></li>
              <li class="gravatar"><a href="profile.html"></a></li>
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">John Doe <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="profile.html"><i class="icon-user"></i> Profile</a></li>
                  <li class="divider"></li>
                  <li><a href="signin.html"><i class="icon-off"></i> Sign Out</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="menu-head">
      <div class="container-fluid">
        <ul class="nav nav-tabs">
          <li class="active"><a href="index.html">2 Collums</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Full Width <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="full-width.html">Components</a></li>
              <li><a href="box-grid.html">Box-Grid</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div class="container-fluid">
      <%- body %>
    </div><!--// container -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/vendor/jquery.min.js"></script>
    <script src="/javascripts/vendor/bootstrap.js"></script>
    <script>

      $(document).ready(function() { 
        $("[rel=popover]").popover();
        $("[rel=tooltip]").tooltip();
        $('.check-all').click(function() {
          $(this).parent().parent().parent().parent().find("input[type='checkbox']").attr('checked', $(this).is(':checked'));   
        });
            
        $('#select-all').click(function(event) {   
        
          if (this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function() {
              this.checked = true;                        
            });
          }
        });        
      });

    </script>
  </body>

</html>